.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-sidebar {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 259px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-nav {
  height: 250px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink {
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-navlink1 {
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink2 {
  text-decoration: none;
}
.home-navlink3 {
  left: 0px;
  bottom: 24px;
  position: absolute;
  text-decoration: none;
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container1 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-text {
  font-size: 3rem;
  max-width: 450px;
}
.home-text1 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image {
  width: 400px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-text {
    text-align: center;
  }
  .home-text1 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
