.team-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.team-blog {
  top: -34px;
  right: 99px;
  width: 944px;
  height: 435px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-start;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}
.team-container1 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.team-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.team-blog-post-card:hover {
  transform: scale(1.02);
}
.team-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
.team-container2 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.team-container3 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.team-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.team-text1 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.team-sidebar {
  width: 139px;
  height: 259px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.team-nav {
  height: 250px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.team-navlink {
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.team-navlink1 {
  margin-bottom: var(--dl-space-space-twounits);
  text-decoration: none;
}
.team-navlink2 {
  text-decoration: none;
}
.team-navlink3 {
  left: 0px;
  bottom: 24px;
  position: absolute;
  text-decoration: none;
}
@media(max-width: 991px) {
  .team-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .team-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .team-blog-post-card {
    flex-direction: column;
  }
  .team-image {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .team-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
